.node-type-idea {
//    background-color: $darkerLightGrey;
    padding: 2em;
    @include mq($until:tablet){
        padding: 1.5em 1em;
    }
    .region {
        background-color: white;
        padding: 0;
    }
    .node {
        > .content {
            // idea submitted by user
            padding: 2em;
            p {
                margin: 0;
                & + p {
                    margin-top: 1em;
                }
            }
        }
    } 
}
.submitted {
    // details about person who submitted idea
    background-color: $midLightGrey;
    display: block;
    border-bottom: 1px solid $darkerLightGrey;
    @extend %clearfix;
    span {
        display: block;
        float: left;
        &[rel*="creator"]{
            a, span {
                background-color: $seedlyGreen;
                padding: .5em .6em;
                display: inline-block;
                color: $nearBlack;
            }
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &[property*="date"]{
            background-color: $seedlyLightGreen;
            padding: .5em .6em;
        }
    }

}

.comment-wrapper {
//    background-color: $lightGrey;
    font-size: .9em;
}

.comment {
    background-color: $midLightGrey;
    margin-top: 1em;
    padding-bottom: 1.2em;
    .content {
        padding: 2em;
    }
    .submitted {
        .permalink {
            text-indent: 100%;
            overflow: hidden;
            width: 1em;
            display: inline-block;
            position: relative;
            &:before {
                content: "%";
                position: absolute;
                left: 0;
                text-indent: 0;
                width: 1em;
                text-align: center;
            }
        }
    }
    .links.inline {
        display: inline-block;
        margin: 0;
        * {
            display: inline-block;
            padding: 0;
        }
        a {
            background-color: $seedlyGreen;
            padding: .5em .6em;
            color: $nearBlack;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.addComment {
    overflow: hidden;
    background-color: white;
    border: 1px solid $lightGrey;
    position: fixed;
    bottom: 0;
    max-height: 4em;
    width: 100%;
    max-width: 65em;
    .addCommentBar {
        padding: 1em 2em;
        cursor: pointer;
        background-color: white;
        transition: background-color .3s;
        border-bottom: 1px solid $lightGrey;
        &:hover {
            background-color: lighten($lightGrey, 2%);
        }
        
    }
    .no-js & {
        max-height: none;
        position: relative;
        margin-bottom: 2em;
    }
    transition: max-height .4s;
    &:hover {
        max-height: 4.5em;
    }
    &.open {
        &, &:hover {
           max-height: 30em; 
        }
    }
    h2 {
        margin-bottom: 0;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 1.1em;
        
    }
    .toggleAddComment {
        outline: none;
        border: none;
        float: right;
        background-color: $seedlyGreen;
        transition:background-color .3s;
        border: none;
//        width: 100%;
          font-size: 1.4em;
        padding: .3em .8em 0em;
        color: white;

        &:before {
            content: "\2c4";
        }
        &.open {
            &:before {
                content: "\2c5";
            }
            
        }
    }
    
    .addCommentContent {
        padding: 1em 2em;
    }
    
    .field-name-comment-body{
        margin-bottom: 1em;
    }
    label {
        margin-bottom: .6em;
    }
    input {
        background-color: $seedlyGreen;
        padding: .5em .6em;
        color: $nearBlack;
        text-decoration: none;
        border: 0;
        float: right;
        &:hover {
            text-decoration: underline;
        }
    }
}
