.masonryWrapper {
//    margin-top: 13em;
    @extend %container;
    padding: 0;
    width: 100%;
}


.masonryWrapper .masonryBlock {
    display: block;
    margin-bottom: 1em;
    .content {
        padding: 1.5em;
    }
}

.column, .masonryWrapper .masonryBlock {
    width: 32%;
    @include mq($until:tablet){
        width: 48.5%;
    }
    @include mq($until:smallTablet){
        width: 100%;
    }
    .no-js & {
        width: 100%;
    }
}
.gutter {
    width: 2%;
    @include mq($until:tablet){
        width: 3%;
    }
}